<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label">Anzahl Urlaubstage</label>
    <div class="controls">
      <input type="number"
             cam-variable-name="anzahlUrlaubstage"
             cam-variable-type="Long"
             required
             class="form-control" />
    </div>
  </div>
</form>
