<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label">Anzahl Urlaubstage</label>
    <div class="controls">
      <input type="number"
             cam-variable-name="anzahlUrlaubstage"
             cam-variable-type="Long"
             readonly
             class="form-control" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Freigeben?</label>
    <div class="controls">
      <input type="checkbox"
             cam-variable-name="urlaubGenehmigt"
             cam-variable-type="Boolean"
             name="urlaubGenehmigt"
             class="form-control" />
    </div>
  </div>
</form>
